/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-[#141414] text-white overflow-x-hidden;
	}

	header {
		@apply fixed top-0 z-50 flex w-full items-center justify-between p-4 transition lg:px-10 lg:py-6;
	}
}

@layer components {
	.headerLink {
		@apply cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-[0.4s] hover:text-red-600;
	}
	.bannerButton {
		@apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
	}
}

body::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

body::-webkit-scrollbar:hover {
	width: 7px;
}

body::-webkit-scrollbar-thumb {
	background-color: red;
	border-radius: 200px;
}

/* body::-webkit-scrollbar-thumb:hover {
	background-color: red;
} */
